{% extends 'base.html' %}
{% load static %} 
{% block content %} 
<div class="row">
    <div class="col-2">
        <ul class="nav flex-column">
            <li class="nav-item">
                <a class="nav-link" href="#" id="clientes-btn">Clientes</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#" id="ventas-btn">Ventas</a>
            </li>
        </ul>
    </div>
    <div class="col-10">
        <div id="div-table">
            {% block crud %}
            <!-- Aquí se cargará dinámicamente el contenido de la tabla -->
            {% endblock crud %}
        </div>
    </div>
</div>
{% endblock content %}

{% block javascript %}
<script type="text/javascript" src="{% static 'scripts.js' %}"></script>
<script>
$(document).ready(function() {
    // Maneja los clics de los botones
    $('#clientes-btn').click(function() {
        loadTable('clientes');
    });

    $('#ventas-btn').click(function() {
        loadTable('ventas');
    });

    // Carga la tabla inicial (e.g. "clientes")
    loadTable('clientes');

    function loadTable(tableName) {
        $.ajax({
            url: '/' + tableName + '/',  // Apunta a la URL para cargar el contenido de la tabla
            type: 'GET',
            success: function(data) {
                // Insertar el HTML recibido en el contenedor div-table
                console.log(data);
                $('#div-table').html(data);
                initializeDataTable(tableName); // Inicializa DataTables después de cargar el contenido
            },
            error: function() {
                console.error('Error cargando los datos');
            }
        });
    }

    function initializeDataTable(tableName) {
        switch (tableName) {
            case 'clientes':
                $('#table-clientes').DataTable({
                    "ajax": {
                        "url": "/clientes/tabla/",  // URL para cargar los datos en JSON
                        "dataSrc": "data"  // DataTables busca los datos en la clave "data" del JSON
                    },
                    "columns": [
                        { "data": "iidcliente" },
                        { "data": "snombrecliente" },
                        { "data": "sapellidocliente" },
                        { "data": "idni" },
                        {
                            "data": null,
                            "render": function (data, type, row) {
                                
                                var editUrl = "{% url 'clientes_edit' 0 %}".replace('0', row.iidcliente);
                                return '<button class="btn btn-info edit-btn" data-url="${editUrl}"><i class="bi bi-pencil-square"></i></button>';
                            }
                        }
                        // {
                        //     "data": null, // Esto es para que tome la fila completa y te permita personalizar el contenido
                        //     "render": function(data, type, row) {
                        //         // Aquí creamos la URL manualmente usando JavaScript
                        //         var editUrl = "{% url 'clientes_edit' 0 %}".replace('0', row.iidcliente);
                               
                                
                        //         // return `
                        //         //     <button class="editClienteBtn" data-url="` + editUrl + `">Editar</button>
                        //         //     <button class="deleteClienteBtn" data-url="` + deleteUrl + `">Eliminar</button>
                        //         // `;
                        //     },
                        //     "orderable": false, // Opcional: para que esta columna no sea ordenable
                        //     "searchable": false // Opcional: para que esta columna no se pueda buscar
                        // }
                    ]
                });
                break;
            case 'ventas':
                $('#table-ventas').DataTable({
                    "ajax": {
                        "url": "/ventas/tabla/",  // URL para cargar los datos en JSON
                        "dataSrc": "data"  // DataTables busca los datos en la clave "data" del JSON
                    },
                    "columns": [
                        { "data": "inroventa" },
                        { "data": "dfechaventa" },
                        { "data": "fmontoventa" }
                    ]
                });
                break;
        }
    }
});

// Usando delegación de eventos para elementos dinámicos
$(document).on('click', '#addClientesBtn', function() {
        openFormModal("{% url 'clientes_add' %}");
    });

// $('#table-clientes tbody').on('click', '#editClienteBtn', function() {
//             var url = $(this).data('url');
//             openFormModal(url);
// });
$(document).on('click', '.edit-btn', function() {
        var url = $(this).data('url');
        openFormModal(url);
});
</script>
{% endblock javascript %}
