{% block crud %}

<h1>Listado de Ventas</h1>
    <button id="addVentasBtn" class="btn btn-primary mb-3">Agregar Ventas</button>
    <table id="table-ventas" class="table table-striped table-bordered" style="width:100%">
        <thead>
            <tr>
                <th>iNroVenta</th>
                <th>dFechaVenta</th>
                <th>fMontoVenta</th>
            </tr>
        </thead>
        <tbody>
            <!-- Los datos se llenarán dinámicamente con DataTables -->
        </tbody>
    </table>

{% endblock crud %}